<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/spiner.css">
    <script src="/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    
    <h1>Upload Images</h1>
    <!-- <div class="lds-dual-ring"></div> -->
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input class="" type="file" class="file" name="file">
        <button class="btn btn-success" type="submit">Subir Archivo</button>
    </form>
</body>
</html>
